# Wandb info
wandb_project_name: NonconvexSampling
tags: experiments

# Method
mode: sample
score_method: p0t
p0t_method: rejection
reuse_samples: no

# Estimator Information
# Rejection
max_iters_optimization: 50
num_estimator_batches: 1
num_estimator_samples: 10000
# ULA
num_sampler_iterations: 100
ula_step_size: 0.001
num_recursive_steps: 2 # Increasing this makes you use way too much memory and time

# SDEs Parameters
sde_type: vp
multiplier: 0
bias: 2

# Sampling parameters
sampling_method: ei
num_batches: 1
sampling_batch_size: 1000
T: 5
sampling_eps: 5e-3
disc_steps: 25
ula_steps: 0