# Method
mode: eval_mmd
score_method: p0t
p0t_method: rejection

methods_to_run: [ZOD-MC,RDMC,RSDMC]
baselines: [slips,ais, smc,langevin,proximal,parallel]

# load_from_ckpt: True
# samples_ckpt: plots/mueller/samples_lmm.pt

# RDMC - This actually defines the gradient complexity for everyone else
num_samples_for_rdmc: 100
sampling_eps_rdmc: 5e-3 # RDMC is more sensible to the stopping time
min_num_iters_rdmc: 11
max_num_iters_rdmc: 21
iters_rdmc_step: 10
ula_step_size: 0.0005 # This needs to be small for Mueller

# Rejection
sampling_eps_rejec: 5e-4

# Baselines
langevin_step_size: 0.0005
proximal_M: 30 
proximal_num_iters: 100

# Estimator Information
max_iters_optimization: 50

# SDEs Parameters
sde_type: vp
multiplier: 0
bias: 2

# Sampling parameters
sampling_method: ei
num_batches: 1
sampling_batch_size: 1000
T: 2
sampling_eps: 5e-3
disc_steps: 50
ula_steps: 0
